<form action="/<%= @memo.title %>" method="post">
  <div class="form-control">
    <label for="title">タイトル
      <input type="text" name="title" value=<%= @memo.title %>>
    </label>
  </div>
  <div class="form-control">
    <label for="content">内容
      <textarea name="content" cols="30" rows="10"><%= @memo.content %></textarea>
    </label>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="変更">
</form>