<form action="/" method="post">
  <label for="title">タイトル
    <input type="text" name="title">
  </label>
  <label for="content">内容
    <textarea name="content" cols="30" rows="10"></textarea>
  </label>
</form>