<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @title %></title>
</head>

<body>
  <header>
    <h1><a href="/">メモアプリ</a></h1>
    <% if @title == 'top'%>
    <a href="/new">追加</a>
    <% end %>
  </header>
  <%= yield %>
</body>

</html>